header		{ margin: 25px;
			  background-color: #000000;
			}
h1			{ text-align: center;
			  font-size: 80px;
			  font-family: Lucida Handwriting,Sans-serif;
			  color: #DC143C;
			}
h2			{ font-size: 60px;
			  color: crimson;
			}
h3			{
			}
p			{ font-size: 17px;
			}
body			{ background-color: #4169E1;
			  margin: 10%;
			}
footer		{ text-align: center;
			  color: #6495ed;
			  padding: 20px;
			}
nav			{ text-align: left;
			  font-size: 30px;
			  border: 5px;
			  display: inline-block;
			  float: left;
			  width: 20%;
			  position: fixed;
			  color: black;
			}
main			{ text-align: center;
			  border: solid;
			  margin-left: 225px;
			  margin-right: 70px;
			  background-color: #ADD8E6;
			  width: 70%;
			}
ul.no-bullets     { list-style-type: none;
			  padding: 0;
			  margin: 0;
			}
div.dotmm		{ background-image: url("tiefling.gif");
			  background-repeat: no-repeat;
			  height: 200px;
			  background-position: center;
			  background-size: cover;
			  font-size: 30px;
			}
div.dragon		{ background-image: url("dragon.jpg");
			  background-repeat: no-repeat;
			  height: 200px;
			  background-position: center;
			  background-size: cover;
			  font-size: 30px;
			}
div.contact	input[type=text], select, textarea	{
			 width: 100%;
			 padding: 10px;
			 border: 1px solid #ccc;
			 border-radius: 4px;
			 box-sizing: border-box;
			 margin-top: 5px;
			 margin-bottom:: 10px;
			}
a:link		{ text-decoration: none;
			  color: red;
			}
a:hover		{ color: white;
			}
a:visited		{ color: red;
			}
a:active		{ color: white;
			}
